*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between; /* Deixa a logo e o menu nos cantos opostos */
    align-items: center; /* Centraliza verticalmente */
    padding: 10px 20px; /* Ajusta o espaçamento interno */
    background-color: aqua;
}

.navegacao ul{
    list-style: none; 
    display: flex;
    padding-left: 0;
}

.navegacao ul li{
    padding: 50px;
}

.logo{
    width: 40px; /* Ajuste o tamanho desejado */
    height: auto; /* Mantém a proporção */
}
