* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0dadb;
}

.navbar {
    display: flex;
    justify-content: space-between; /* Logo à esquerda e ícone à direita */
    align-items: center; /* Centraliza verticalmente os itens */
    padding: 10px 50px;
    background-color: #f0f8f8;
}

.logo img {
    width: 120px; /* Ajuste o tamanho da logo conforme necessário */
    height: auto;
}

.navegacao {
    display: flex;
    flex: 1;
    justify-content: center; /* Centraliza o menu no meio da barra */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px; /* Espaçamento entre os itens de navegação */
    margin-top: 20px;
}

.nav-links a {
    text-decoration: none;
    text-align: center;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    padding: 100PX;
}

.cart-icon {
    display: flex;
    justify-content: flex-end;
}

.cart-icon img {
    width: 60px; /* Ajuste o tamanho do ícone */
}


/*Ajustando o meio circulo da pagina inicial*/
.meio-circulo {
    position: relative;
    display: inline-block; /* Manter os dois elementos no mesmo nível */
}
/*ajustando o aviao*/
#aviao{
    position: absolute;
    top: 10%; /* Ajuste conforme necessário para o alinhamento vertical */
    left: 75%; /* Posicionar ao lado do meio-círculo */
    transform: translateY(-50%); /* Centraliza verticalmente em relação ao meio círculo */
    width: 150px; /* Ajuste o tamanho da imagem do avião conforme necessário */
}
/*eduardo*/
#quem-somos {
    display: flex;
    align-items: center; /* Centraliza verticalmente a imagem e o texto */
    justify-content: center; /* Centraliza horizontalmente todo o conteúdo */
    margin: 20px;
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha em telas menores */
    padding: 40px; /* Aumenta o espaço interno na seção */
}

.imagem {
    flex: 1;
    max-width: 50%; /* Aumenta a largura máxima da imagem para 50% */
}

.texto {
    flex: 1;
    padding-left: 20px; /* Espaçamento entre a imagem e o texto */
}

.imagem img {
    width: 100%; /* A imagem ocupará 100% do contêiner da imagem */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 8px; /* Bordas arredondadas para a imagem */
}

#quem-somos h2 {
    color: #FC1414; /* Cor do título em vermelho */
    font-size: 2.5em; /* Aumenta o tamanho do título */
    text-align: center; /* Centraliza o título */
    text-transform: uppercase; /* Deixa o título em caixa alta */
    margin-bottom: 20px; /* Aumenta o espaço entre o título e o texto */
}

#quem-somos p {
    color: #000; /* Cor do texto em preto */
    line-height: 1.6; /* Altura da linha para melhor leitura */
    font-size: 1.5em; /* Aumenta o tamanho do texto */
    font-weight: bold; /* Deixa o texto em negrito */
    text-align: justify; /* Justifica o texto */
    margin-top: 40px; /* Aumenta o espaço entre o texto e a borda da seção */
}










