*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 100px;
    display: flex;
    justify-content: space-between; /* Logo à esquerda e ícone à direita */
    align-items: center; /* Centraliza verticalmente os itens */
    padding: 10px 50px; /* Define o espaçamento interno nos itens */
    background-color: #f0f8f8; /* Cor da barra de navegação */
}
 
.logo img {
    width: 200px; /* Ajuste a largura da logo */
    height: auto; /* Ajusta a altura da logo automaticamente */
}
 
.navegacao {
    display: flex;
    flex: 1;
    justify-content: center; /* Centraliza o menu no meio da barra */
}
 
.nav-links {
    list-style: none; /* Retira os marcadores de lista */
    display: flex;
    gap: 120px; /* Aumenta o espaço entre os itens de navegação */
    margin-top: 20px; /* Margem do topo */
}
 
.nav-links a {
    text-decoration: none;
    text-align: center;
    color: #000;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0; /* Ajustado para ser mais proporcional */
    position: relative; /* Necessário para o efeito de sublinhado */
}
 
.nav-links a::after {
    content: '';
    display: block;
    height: 2px; /* Espessura do sublinhado */
    background-color: #000; /* Cor do sublinhado */
    width: 100%; /* Largura do sublinhado */
    position: absolute;
    bottom: -5px; /* Ajuste para mover o sublinhado para baixo */
    left: 0;
    transform: scaleX(0); /* Inicialmente escondido */
    transition: transform 0.3s ease; /* Animação suave ao mostrar */
}
 
.nav-links a:hover::after {
    transform: scaleX(1); /* Mostrar o sublinhado ao passar o mouse */
}


/*Slides*/
section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slide-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slide-content input{
    display: none;
}


.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
}

.slide-box img{
    width: 100%;
    height: 100%;
}

.nav-manual, nav-auto div{
    position: absolute;
    width: 100%;
    margin-top: 31%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, nav-auto div{
    border: 1px solid rgba(255, 255, 255, 0.356);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: red;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: red;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}