*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 100px;
    display: flex;
    justify-content: space-between; /* Logo à esquerda e ícone à direita */
    align-items: center; /* Centraliza verticalmente os itens */
    padding: 10px 50px; /* Define o espaçamento interno nos itens */
    background-color: #f0f8f8; /* Cor da barra de navegação */
}
 
.logo img {
    width: 200px; /* Ajuste a largura da logo */
    height: auto; /* Ajusta a altura da logo automaticamente */
}
 
.navegacao {
    display: flex;
    flex: 1;
    justify-content: center; /* Centraliza o menu no meio da barra */
}
 
.nav-links {
    list-style: none; /* Retira os marcadores de lista */
    display: flex;
    gap: 120px; /* Aumenta o espaço entre os itens de navegação */
    margin-top: 20px; /* Margem do topo */
}
 
.nav-links a {
    text-decoration: none;
    text-align: center;
    color: #000;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0; /* Ajustado para ser mais proporcional */
    position: relative; /* Necessário para o efeito de sublinhado */
}
 
.nav-links a::after {
    content: '';
    display: block;
    height: 2px; /* Espessura do sublinhado */
    background-color: #000; /* Cor do sublinhado */
    width: 100%; /* Largura do sublinhado */
    position: absolute;
    bottom: -5px; /* Ajuste para mover o sublinhado para baixo */
    left: 0;
    transform: scaleX(0); /* Inicialmente escondido */
    transition: transform 0.3s ease; /* Animação suave ao mostrar */
}
 
.nav-links a:hover::after {
    transform: scaleX(1); /* Mostrar o sublinhado ao passar o mouse */
}

